/* General Styling */
h1, h2, h3 {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

/* Hero Section */
.hero-section {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-align: center;
}

.hero-section h1 {
    font-size: 5rem;
}

/* About Section */
#section2 {
    padding: 50px 0;
    background-color: #f8f9fa;
}

/* Services Section */
#section3 {
    padding: 50px 0;
    background-color: #ffffff;
}

/* Gallery Section */
#section4 {
    padding: 50px 0;
}


/* Contact Section */
#section5 {
    padding: 50px 0;
    background-color: #f8f9fa;
}

/* Scroll Animation */
html {
    scroll-behavior: smooth;
}

.sector-icon-size {
    display: block;
    height: 50px;
    width: 50px;
}

@font-face {
    font-family: 'Lobster';  /* 폰트 이름 설정 */
    src: url('/static/fonts/Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumB';
    src: url('/static/fonts/NanumSquareRoundB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumR';
    src: url('/static/fonts/NanumSquareRoundR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gowun';
    src: url('/static/fonts/GowunBatang-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* mypage design */
.title {
    background-color: rgb(247, 239, 202);
    text-align: right;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'NanumB';
}
.container-fvl {
    width: 90%;
    height: 70vh;
    margin: 20px;
    margin-top: 0;
    padding: 5%;
    background-color: #f0ffea;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    display: flex;
    align-items: top;
    justify-content: center;
    flex: 2;
}

.table-stockinfo {
    width: 100%;
    border-collapse: collapse;
}

.table-mbtistock {
    width: 100%;
    border-collapse: collapse;
    table-layout:fixed;
}

th, td {
    border: 1px solid #979797;
    padding: 8px;
    text-align: center;
    border-left: none;
    border-right: none;
}
th {
    background-color: rgba(255, 226, 236, 0.8);
    font-size: 20;
}

.container-leri {
    display: flex;
    height: 70vh;
    width: 70%;
    margin: 10px;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    margin: 10px;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.small-box {
    flex: 1;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    box-sizing: border-box;
    width: 90%;
    border-radius: 15px;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
}

.bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    width: 66%;
}
.mypage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'NanumR';
    flex-direction: column;
}

.mbti-stock {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}
.mbti-stock-rec {
    background-color: rgb(169, 214, 143);
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.test-button {
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 0;
    font-size: 25px;
    margin: auto;
}

/* test page design */
.custom-card {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.custom-row {
    justify-content: center;
    padding: 1rem;
    gap: 6rem;
    background-color: rgb(235, 255, 240);
    margin: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 50px;
}

/* home page design */
.border-left-primary {
    border-left: .5rem solid #36cc36 !important;
}

.basket {
    display: flex;
    overflow: hidden;
}

.basket-in1 {
    flex: 1;
    padding-inline: 5px;
    margin-top: 1rem;
}
.basket-in2 {
    flex: 2;
}

.kos {
    text-align: left;
    padding-inline: 1rem;
    font-size: 20px;
    font-family: "NanumR";
    vertical-align:middle;
}

/* News Style*/
.news-section {
    margin-top: 20px;
    width: 80%;
    justify-content: center;
}

.news-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

#newsWrapper {
    display: flex;
    overflow: hidden;
    width: 80%;
    justify-content: space-around;
}

.news-item {
    position: relative;
    width: 30%;
    margin: 0 10px;
    height: auto;
    margin-right: 5px;
    padding-right: 2.5rem;
}
.news-item:last-child {
    padding-right: 0; /* 패딩을 0으로 설정 */
}
.news-item::after {
    content: "";
    width: 1px;
    height: 80%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #333;
}
.news-item:last-of-type::after {
    display: none; /* 마지막 아이템에 선 숨기기 */
}
#prevBtn, #nextBtn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

body {
    color : black;
}

/* stock_detail design */
.popup {
    display: none;
    position: absolute;
    background-color: rgba(242, 255, 235, 0.946);
    border: 1px solid #ccc;
    /* padding: 10px; */
    margin-top: 5px;
    width: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000; /* 다른 요소들 위에 표시되도록 */
    font-size: 13px;
}

.nowrap {
    white-space: nowrap;
}