{% extends 'base.html' %}
{% load humanize %} <!-- 숫자에 , 표시 -->

{% load static %}
    
{% block title %}ANTS | MyPage{% endblock %}

{% block content %}
<div class="mypage">
    <div class="container-leri">
        <div class="left">
            <h2 class="title">My 관심종목</h2>
            <div class="container-fvl">
                {% if my_list %}
                <table class="table-stockinfo">
                    <thead>
                        <tr style="border-bottom: 2px solid black;">
                            <th style="text-align: left;">종목명</th>
                            <th style="text-align: center;">MBTI</th>
                            <th style="text-align: right;">현재가</th>
                            <th style="text-align: right;">등락률</th>
                            <th style="text-align: center;">관심</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in stock_info %}
                        <tr style="border-bottom: 1.8px solid rgb(100, 100, 100);">
                            <td style="text-align: left;">{{ stock.name }}</td>
                            {% if stock.mbti %}
                                <td>{{ stock.mbti }}</td>
                            {% else %}
                                <td>정보없음</td>
                            {% endif %}
                            <td style="text-align: right;">{{ stock.current_price|intcomma }}</td>
                            <td style="text-align: right;">
                            {% if stock.UpDownRate > 0 %}
                                <span style="color: red;">{{ stock.UpDownPoint|intcomma }} ({{ stock.UpDownRate }}%)</span>
                            {% elif stock.UpDownRate == 0 %}
                                <span>{{ stock.UpDownPoint|intcomma }} ({{ stock.UpDownRate }}%)</span>
                            {% else %}
                                <span style="color: blue;">{{ stock.UpDownPoint|intcomma }} ({{ stock.UpDownRate }}%)</span>
                            {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'remove_stock' stock.stock_code %}">
                                  <img src="{% static 'images/star.png' %}" alt="Remove" style="width: 25px; margin-top: 5px;"/>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <span style="font-size: 25px; text-align: center;"> <b>아직 관심있게 보고 계신 종목이 없으시군요!<br>별을 눌러 추가해보세요</b> </span>
                {% endif %}
            </div>
        </div>
        <div class="right">
            <div class="small-box" style="background-color: rgb(237, 255, 202); font-size: 20px;">
                {% if test_result1.result1 %}
                    <h3> {{ request.user.username }}님은 {{ test_result1.result1 }}이시네요! </h3>
                    <p>{{ test_result1.result2 }}</p>
                    <a href="{% url 'test_option_1' %}" class="test-button">
                        <p>테스트 다시하기</p>
                    </a>
                {% else %}
                    <p> <h4>{{ request.user.username }}님은 아직 테스트 전이시네요!</h4> </p>
                    <a href="{% url 'test_option_1' %}" class="test-button">
                        <p>나의 투자성향은?<br><span style="font-weight: bold !important;">테스트 하러 가기 >></span></p>
                    </a>
                {% endif %}
            </div>
            <div class="small-box" style="background-color: rgb(191, 219, 186); font-size: 20px;">
                {% if test_result2.result1 %}
                    <h3> {{ request.user.username }}님은 {{ test_result2.result1 }}이시네요! </h3>
                    <p>{{ test_result2.result2 }}</p>
                    <a href="{% url 'test_option_2' %}" class="test-button">
                        <p>테스트 다시하기</p>
                    </a>
                {% else %}
                    <p> <h4>{{ request.user.username }}님은 아직 테스트 전이시네요!</h4> </p>
                    <a href="{% url 'test_option_2' %}" class="test-button">
                        <p>나의 투자지식은 어느정도일까? <br><span style="font-weight: bold !important; ">테스트 하러 가기 >></span></p>
                    </a>
                {% endif %}
            </div>
        </div>
</div>
<div class="bottom">
    <div class="mbti-stock-rec">
        {% if my_list|length >= 5 %}
        <div style="margin: 8px;">
            <h5>{{ request.user.username }}님이 가장 선호하시는 MBTI는 <strong>{{ mbti }}</strong>네요.</h5>
            {% if mbti == "RHVE" %}
                <p><h6>위험감수형, 수익성 ↑, 가치주, 활동성 ↑</h6>
                    <span>활발한 거래량을 보이며, 단기보다는 장기적인 가치 성장을 기대할 수 있는 주식이에요. 
                        <br>수익성은 높은 편이지만, 위험을 감수하여 안정성보다는 성장을 추구하는 경향이 있어요.
                        <br>모험적인 투자자에게 적합하며, 시장의 변동성을 견디는 능력이 필요해요.</span>
                </p>
            {% elif mbti == "CHVE" %}
                <p><h6>위험보수형, 수익성 ↑, 가치주, 활동성 ↑</h6>
                    <span>거래량이 많은 동시에 안정적인 가치 성장을 기대할 수 있는 주식이에요.
                        <br> 수익성은 높지만, 위험을 회피하고 안정성을 중시하는 보수적인 투자 성향을 가진 주식이에요.
                        <br> 장기적인 수익을 안정적으로 얻고자 하는 투자자에게 적합해요.
                    </span>
                </p>
            {% elif mbti == "RLVE" %}
                <p><h6>위험감수형, 수익성 ↓, 가치주, 활동성 ↑</h6>
                    <span>거래량은 많지만 현재는 수익성이 낮은 주식이에요.
                        <br> 그러나 위험을 감수하며 장기적으로 가치 성장을 기대할 수 있어요.
                        <br> 시장에서 과소평가된 주식을 선택하는 투자자에게 적합하며, 리스크를 감수하면서도 미래의 성장을 기대해요.
                    </span>
                </p> 
            {% elif mbti == "CLVE" %}
                <p><h6>위험보수형, 수익성 ↓, 가치주, 활동성 ↑</h6>
                    <span>활발하게 거래되지만 현재 수익성은 낮은 편이에요.
                        <br> 그러나 안정적인 가치를 유지하고 있으며, 보수적인 성향으로 위험을 회피해요.
                        <br> 장기적으로 가치 투자를 지향하는 신중한 투자자에게 적합해요.
                    </span>
                </p> 
            {% elif mbti == "RLGE" %}
                <p><h6>위험감수형, 수익성 ↑, 성장주, 활동성 ↑</h6>
                    <span>활발한 거래량과 더불어 수익성 높은 성장주에요.
                        <br> 성장 가능성이 크면서도 안정성을 중시하는 보수적인 투자 성향을 가지고 있어요.
                        <br> 안정적이면서도 성장 잠재력을 가진 주식을 선호하는 투자자에게 적합해요.
                    </span>
                </p> 
            {% elif mbti == "CHGE" %}
                <p><h6>위험보수형, 수익성 ↑, 성장주, 활동성 ↑</h6>
                    <span>활발한 거래량과 더불어 수익성 높은 성장주에요.
                        <br> 성장 가능성이 크면서도 안정성을 중시하는 보수적인 투자 성향을 가지고 있어요.
                        <br> 안정적이면서도 성장 잠재력을 가진 주식을 선호하는 투자자에게 적합해요.
                    </span>
                </p>
            {% elif mbti == "RLGE" %}
                <p><h6>위험감수형, 수익성 ↓, 성장주, 활동성 ↑</h6>
                    <span>활발히 거래되지만 현재 수익성이 낮은 주식이에요.
                        <br> 높은 성장 가능성이 있으며, 위험을 감수하는 투자자들이 선호해요.
                        <br> 이 주식은 미래 성장을 위해 현재의 리스크를 감수하는 전략을 추구하는 투자자에게 적합해요.
                    </span>
                </p> 
            {% elif mbti == "CLGE" %}
                <p><h6>위험보수형, 수익성 ↓, 성장주, 활동성 ↑</h6>
                    <span>거래량이 많고 성장 가능성이 있지만, 현재는 수익성이 낮은 주식이에요.
                        <br> 보수적인 투자 성향을 가진 투자자에게 적합하며, 위험을 회피하고 장기적으로 안정적인 성장을 기대하는 스타일이에요.
                    </span>
                </p> 
            {% elif mbti == "RHVI" %}
                <p><h6>위험감수형, 수익성 ↑, 가치주, 활동성 ↓</h6>
                    <span>거래량은 적지만 가치가 높고 수익성이 좋은 주식이에요.
                        <br> 위험을 감수하고 장기적인 성장을 기대하는 투자자에게 적합하며, 단기적인 변동성보다는 장기적인 성과를 중요시해요.
                    </span>
                </p> 
            {% elif mbti == "CHVI" %}
                <p><h6>위험보수형, 수익성 ↑, 가치주, 활동성 ↓</h6>
                    <span>거래량은 적지만 수익성은 높고 안정성을 중시하는 가치주에요.
                        <br> 장기적으로 안정적인 수익을 기대할 수 있는 주식으로, 보수적인 투자자에게 적합해요.
                    </span>
                </p> 
            {% elif mbti == "RLVI" %}
                <p><h6>위험감수형, 수익성 ↓, 가치주, 활동성 ↓</h6>
                    <span>거래량은 적지만 미래의 가치 성장을 기대할 수 있어요.
                        <br> 수익성은 현재 낮지만 위험을 감수하는 투자자에게 적합하며, 저평가된 자산을 선호하는 스타일이에요.
                    </span>
                </p>
            {% elif mbti == "CLVI" %}
                <p><h6>위험보수형, 수익성 ↓, 가치주, 활동성 ↓</h6>
                    <span>수익성이 낮고 거래량도 적지만 안정적인 가치를 유지하고 있는 주식이에요.
                        <br> 위험을 회피하고 장기적인 가치를 중시하는 투자자에게 적합해요.
                    </span>
                </p>
            {% elif mbti == "RHGI" %}
                <p><h6>위험감수형, 수익성 ↑, 성장주, 활동성 ↓</h6>
                    <span>거래량은 적지만 성장 가능성이 크고 수익성이 높은 주식이에요.
                        <br> 위험을 감수하고 장기적으로 큰 성장을 기대하는 투자자에게 적합해요.
                    </span>
                </p>
            {% elif mbti == "RLGI" %}
                <p><h6>위험감수형, 수익성 ↓, 성장주, 활동성 ↓</h6>
                    <span>수익성은 낮지만 성장 가능성이 큰 주식이에요.
                        <br> 거래량은 적고, 리스크를 감수하며 미래의 성장을 추구하는 투자자에게 적합해요.
                    </span>
                </p>
            {% elif mbti == "CLGI" %}
                <p><h6>위험보수형, 수익성 ↓, 성장주, 활동성 ↓</h6>
                    <span>수익성은 낮지만 성장 가능성이 큰 주식이에요.
                        <br> 거래량은 적고, 리스크를 감수하며 미래의 성장을 추구하는 투자자에게 적합해요.
                    </span>
                </p>
            {% endif %}
            
        </div>
            <div class="mbti-stock">
                <table class="table-mbtistock">
                    <thead>
                        <tr style="border-bottom: 2px solid black;">
                            <th style="text-align: left;">종목명</th>
                            <th style="text-align: right;">현재가</th>
                            <th style="text-align: right;">등락률</th>
                            <th style="text-align: center;">관심</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stocks in mbti_stock|slice:":5" %}
                        <tr style="border-bottom: 1.8px solid rgb(100, 100, 100);">
                            <td style="text-align: left;">{{ stocks.name }}</td>
                            <td style="text-align: right;">{{ stocks.current_price|intcomma }}</td>
                            <td style="text-align: right;">
                            {% if stocks.UpDownRate > 0 %}
                                <span style="color: red;">{{ stocks.UpDownPoint|intcomma }} ({{ stocks.UpDownRate }}%)</span>
                            {% elif stocks.UpDownRate == 0 %}
                                <span>{{ stocks.UpDownPoint|intcomma }} ({{ stocks.UpDownRate }}%)</span>
                            {% else %}
                                <span style="color: blue;">{{ stocks.UpDownPoint|intcomma }} ({{ stocks.UpDownRate }}%)</span>
                            {% endif %}
                            </td>
                            <td>
                                {% if stocks.stock_code in my_list %}
                                <a href="{% url 'remove_stock' stocks.stock_code %}">
                                    <img src="{% static 'images/star.png' %}" alt="Remove" style="width: 25px; margin-top: 5px;"/>
                                </a>
                                {% else %}
                                <a href="{% url 'add_favorite_list' stocks.stock_code %}">
                                    <img src="{% static 'images/empty_star.png' %}" alt="Add" style="width: 25px; margin-top: 5px;"/>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="table-mbtistock">
                    <thead>
                        <tr style="border-bottom: 2px solid black;">
                            <th style="text-align: left;">종목명</th>
                            <th style="text-align: right;">현재가</th>
                            <th style="text-align: right;">등락률</th>
                            <th style="text-align: center;">관심</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stocks in mbti_stock|slice:"5:" %}
                        <tr style="border-bottom: 1.8px solid rgb(100, 100, 100);">
                            <td style="text-align: left;">{{ stocks.name }}</td>
                            <td style="text-align: right;">{{ stocks.current_price|intcomma }}</td>
                            <td style="text-align: right;">
                            {% if stocks.UpDownRate > 0 %}
                                <span style="color: red;">{{ stocks.UpDownPoint|intcomma }} ({{ stocks.UpDownRate }}%)</span>
                            {% elif stocks.UpDownRate == 0 %}
                                <span>{{ stocks.UpDownPoint|intcomma }} ({{ stocks.UpDownRate }}%)</span>
                            {% else %}
                                <span style="color: blue;">{{ stocks.UpDownPoint|intcomma }} ({{ stocks.UpDownRate }}%)</span>
                            {% endif %}
                            </td>
                            <td>
                                {% if stocks.stock_code in my_list %}
                                <a href="{% url 'remove_stock' stocks.stock_code %}">
                                    <img src="{% static 'images/star.png' %}" alt="Remove" style="width: 25px; margin-top: 5px;"/>
                                </a>
                                {% else %}
                                <a href="{% url 'add_favorite_list' stocks.stock_code %}">
                                    <img src="{% static 'images/empty_star.png' %}" alt="Add" style="width: 25px; margin-top: 5px;"/>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
        <span style="font-size: 25px; text-align: center;">관심종목을 5개 이상 추가하시면 내가 선호하는 기업과 비슷한 기업을 보여드려요!</span>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}
</html>