<!-- economic_awareness_test.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Economic Awareness Test{% endblock %}

{% block content %}
<section id="test-section" class="py-5 text-center">
    <div class="container">
        <h2 class="display-4 mb-5">Choose Your Test</h2>
        <div class="row">
            <!-- 첫 번째 카드 -->
            <div class="col-md-4">
                <div class="card" style="cursor: pointer;" onclick="location.href='{% url 'test_option_1' %}'">
                    <img src="{% static 'images/test_option_1.png' %}" class="card-img-top" alt="Test Option 1">
                    <div class="card-body">
                        <h5 class="card-title">ANTS 투자성향 TEST</h5>
                        <p class="card-text">이 테스트는 당신의 투자성향을 분석합니다.</p>
                    </div>
                </div>
            </div>
            <!-- 두 번째 카드 -->
            <div class="col-md-4">
                <div class="card" style="cursor: pointer;" onclick="location.href='{% url 'test_option_2' %}'">
                    <img src="{% static 'images/test_option_2.png' %}" class="card-img-top" alt="Test Option 2">
                    <div class="card-body">
                        <h5 class="card-title">나의 주식상식 얼마나 될까? 주린이 TEST </h5>
                        <p class="card-text">이 테스트는 당신의 투자지식 및 금융지식을 평가합니다.</p>
                    </div>
                </div>
            </div>
            <!-- 세 번째 카드 -->
            <div class="col-md-4">
                <div class="card" style="cursor: pointer;" onclick="location.href='{% url 'test_option_3' %}'">
                    <img src="{% static 'images/test_option_3.png' %}" class="card-img-top" alt="Test Option 3">
                    <div class="card-body">
                        <h5 class="card-title">테스트 옵션 3</h5>
                        <p class="card-text">이 테스트 페이지는 비어있습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}