{% extends 'base.html' %}
{% load static %}
{% load humanize %} <!-- 숫자에 , 표시 -->

{% block title %}ANTS{% endblock %}

{% block content %}

<div class='container'>
    <div class="row justify-content-center" style="margin: 2rem;">
        <!-- KOSPI 그래프 -->
        <div class="col-lg-6 text-center mt-2">
            <div class="card border-left-primary py-2" style="justify-content: center; width: 93%; height: 10rem;">
                <div class="basket">
                    <div class="basket-in1 kos nowrap">
                        <p><span style="font-size: 16px;">KOSPI 코스피</span></p>
                        <p><span style="font-size: 25px;">{{ KOSPI_CurrentPoint }}</span><br>
                        {% if KOSPI_UpDownPoint|stringformat:"d" < 0 %}
                            <span style="color: blue;">{{ KOSPI_UpDownPoint }}</span>
                            <span style="color: blue;">({{ KOSPI_UpDownRate }}%)</span></p>
                        {% elif KOSPI_UpDownPoint|stringformat:"d" == 0 %}
                            <span>{{ KOSPI_UpDownPoint }}</span>
                            <span>({{ KOSPI_UpDownRate }}%)</span></p>
                        {% else %}
                            <span style="color: red;">{{ KOSPI_UpDownPoint }}</span>
                            <span style="color: red;">(+{{ KOSPI_UpDownRate }}%)</span></p>
                        {% endif %}
                    </div>
                    <div class="basket-in2">
                        <img src="data:image/png;base64,{{ graphic1 }}" alt="KOSPI Graph" class="img-fluid" style="width: 13rem; height: 10rem;">
                    </div>
                </div>
            </div>
        </div>

        <!-- KOSDAQ 그래프 -->
        <div class="col-lg-6 text-center mt-2">
            <div class="card border-left-primary py-2" style="justify-content: center; width: 93%; height: 10rem;">
                <div class="basket">
                    <div class="basket-in1 kos nowrap">
                        <p><span style="font-size: 16px; margin-top: 10px;">KOSDAQ 코스닥</span></p>
                        <p><span style="font-size: 25px;">{{ KOSDAQ_CurrentPoint }}</span><br>
                        {% if KOSDAQ_UpDownPoint|stringformat:"d" < 0 %}
                            <span style="color: blue;">{{ KOSDAQ_UpDownPoint }}</span>
                            <span style="color: blue;">({{ KOSDAQ_UpDownRate }}%)</span></p>
                        {% elif KOSDAQ_UpDownPoint|stringformat:"d" == 0 %}
                            <span>{{ KOSDAQ_UpDownPoint }}</span>
                            <span>({{ KOSDAQ_UpDownRate }}%)</span></p>
                        {% else %}
                        <span style="color: red;">{{ KOSDAQ_UpDownPoint }}</span>
                        <span style="color: red;">(+{{ KOSDAQ_UpDownRate }}%)</span></p>
                        {% endif %}
                    </div>
                    <div class="basket-in2">
                        <img src="data:image/png;base64,{{ graphic2 }}" alt="KOSDAQ Graph" class="img-fluid" style="width: 13rem; height: 10rem;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class='container mt-3' style="font-family: NanumR; padding-inline: 4rem;">
    <h3>이슈 종목</h3>
    <div class="row">
        <div class="col-lg-8">
            <form method="get" action="">
                <!-- '급상승' 버튼 -->
                <input type="submit" name="type" class="btn" style="background-color: {% if type == '급상승' %}red{% else %}gray{% endif %}; color: white;" value="급상승" {% if type == '급상승' %}disabled{% endif %}>
                
                <!-- '급하락' 버튼 -->
                <input type="submit" name="type" class="btn" style="background-color: {% if type == '급하락' %}blue{% else %}gray{% endif %}; color: white;" value="급하락" {% if type == '급하락' %}disabled{% endif %}>
            </form>

            <table class="table">
                <thead>
                    <tr>
                        <th>순위</th> 
                        <th style="text-align: left;">종목</th>
                        <th style="text-align: right;">현재가</th>
                        <th style="text-align: right;">등락률</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr style="border-bottom: 1.8px solid rgb(167, 167, 167) !important; cursor: pointer;">
                        <td>{{ forloop.counter }}</td> <!-- 순위를 따로 표시 -->
                        <td style="text-align: left;">
                            <!-- 종목명을 클릭할 수 있는 링크로 변환 -->
                            <a href="{% url 'stock' stock.stock_code %}">{{ stock.name }}</a>
                        </td>
                        <td style="text-align: right;">{{ stock.current_price|intcomma }}</td>
                        <td style="text-align: right;">
                            {% if stock.UpDownRate > 0 %} 
                                <span class="text-danger">+{{ stock.UpDownPoint|intcomma }} ({{ stock.UpDownRate }}%)</span>
                                {% if stock.UpDownRate > 30 %}
                                    <div class="position-relative" style="display: inline-block; text-align: left;">
                                        <img src="{% static 'images/questionmark.png' %}" alt="over상한가" width="13" height="13" 
                                             onmouseover="showInfoPopup1()" onmouseout="hideInfoPopup1()" style="opacity: 0.5;">
                                        <div id="infoPopup1" class="popup" style="display: none;">
                                            <div class="nowrap" style="padding: 1.3rem; padding-bottom: .5rem;">
                                                <h6>어떻게 상한가인 30%를 넘었어요?</h6>
                                                <p>오늘 상장된 종목이에요.
                                                    <br>장 시작가격이 공모가보다 높고, 추가로 상승한 종목은 상한가인 30%를 넘는 것처럼 보일 수 있어요.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                <span class="text-primary">{{ stock.UpDownPoint|intcomma }} ({{ stock.UpDownRate }}%)</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">데이터가 없습니다.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 text-center">
            <a href="{% url 'economic_awareness_test' %}">
                <img src="{% static 'images/test_image.png' %}" alt="투자 성향 테스트" style="max-width: 100%; width: 90%; height: auto;">
            </a>
        </div>
    </div>
</div>


<div class="container mt-3 py-4" style="font-family: NanumR; justify-content: center; padding-inline: 4rem;">
    <h3>급상승 카테고리</h3>
    <div class="row">
        <!-- 섹터 리스트 -->
        {% comment %} <div class="col-lg-3" style="padding: 0; width: 400px; flex: 0 0 20%; max-width: 20%;"> {% endcomment %}
        <div class="col-lg-3 mt-3">
            <div class="container" style="padding: 0;">
                <ul class="list-group index-stickers">
                    {% if top_sectors %}
                        {% for sector in top_sectors %}
                        <div class="d-flex align-items-center py-2 sticker nowrap
                        {% if forloop.counter == 1 %}yellow{% elif forloop.counter == 2 %}pink{% elif forloop.counter == 3 %}green{% elif forloop.counter == 4 %}blue{% else %}gray{% endif %}"
                        data-sector="{{ sector.sector }}"
                        onclick="loadSectorDetails('{{ sector.sector }}', 
                            '{% if forloop.counter == 1 %}rgb(249, 232, 139){% elif forloop.counter == 2 %}rgb(242, 166, 200){% elif forloop.counter == 3 %}rgb(168, 230, 207){% elif forloop.counter == 4 %}rgb(164, 200, 225){% else %}rgb(211, 211, 211){% endif %}')">
                            <img src="{% static 'images/icon/'|add:sector.image %}" 
                                class="sector-icon-size"
                                alt="{{ sector.sector }}">
                            <div class="d-flex w-50" style="margin: .5rem;">
                                <span>{{ forloop.counter }}위: {{ sector.sector }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">데이터가 안나온다.</li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <!-- 오른쪽에 데이터를 표시할 영역 -->
        <div class="col-lg-9 mt-3" style="padding: 0;">
            <!-- <h3>섹터 세부 정보</h3> -->
            <div id="sector-details" class="note-style">
                <p>섹터 이미지를 클릭하면 세부 정보가 여기에 표시됩니다.</p>
            </div>
        </div>
    </div>
</div>

<!-- Static 파일 로드 -->
<script src="{% static 'js/sectorDetails.js' %}"></script>
<script>
    function showInfoPopup1() {
        const popup = document.getElementById("infoPopup1");
        popup.style.display = "block"; // 팝업 보이기
    }

    function hideInfoPopup1() {
        const popup = document.getElementById("infoPopup1");
        popup.style.display = "none"; // 팝업 숨기기
    }
</script>

{% endblock %}

