{% extends 'base.html' %}
{% load static %}

{% block title %}ANTS{% endblock %}

{% block content %}

<div class='container'>
    <h1>주가지수</h1>
    <div class="row">
        <div class="col-6">
            <h2 class="test">코스피</h2>
            <span class="border border-2 mt-3">코스피 차트 추가해주세요</span>
        </div>
        <div class="col-6">
            <h2>코스닥</h2>
            <span class="border border-2 mt-3">코스닥 차트 추가해주세요</span>

        </div>
    </div>
</div>
<div class='container mt-3'>
    <h1>실시간 차트</h1>
    <div class="row">
        <div class="col-8">
            <input type="button" class="btn btn-secondary" value="급상승">
            <input type="button" class="btn btn-secondary" value="급하락">
            <h2></h2>
            <span class="border border-2 mt-3">실시간 차트 추가해주세요</span>
        </div>
        <div class="col-4">
            <a href="{% url 'economic_awareness_test' %}">
                <img src="{% static 'images/test_image.png' %}">
            </a>
        </div>
    </div>
</div>
<div class='container mt-3'>
    <h1>지금 뜨는 분야</h1>
    <div class="row">
        <div class="col-4">
            <div class="container">
                <img src="{% static 'images/electric_car_icon.png' %}" class="d-block sector-icon-size">
                <img src="{% static 'images/biology_icon.png' %}" class="d-block sector-icon-size">
                <img src="{% static 'images/semiconductor_icon.png' %}" class="d-block sector-icon-size">
            </div>
        </div>
        <div class="col-8">

        </div>
    </div>
</div>
{% endblock %}

