{% extends 'base.html' %}
{% load static %}

{% block title %}ANTS{% endblock %}

{% block content %}

<div class='container'>
    <h1>주가지수</h1>
    <div class="row justify-content-center">
        <!-- KOSPI 그래프 -->
        <div class="col-md-6 text-center">
            <h3>KOSPI Current Point</h3>
            <img src="data:image/png;base64,{{ graphic1 }}" alt="KOSPI Graph" class="img-fluid">
            <p>UpDown Point: {{ KOSPI_UpDownPoint }}</p>
            <p>UpDown Rate: {{ KOSPI_UpDownRate }}</p>
        </div>

        <!-- KOSDAQ 그래프 -->
        <div class="col-md-6 text-center">
            <h3>KOSDAQ Current Point</h3>
            <img src="data:image/png;base64,{{ graphic2 }}" alt="KOSDAQ Graph" class="img-fluid">
            <p>UpDown Point: {{ KOSDAQ_UpDownPoint }}</p>
            <p>UpDown Rate: {{ KOSDAQ_UpDownRate }}</p>
        </div>
    </div>
    </div>
</div>

<div class='container mt-3'>
    <h1>급상승&급하락</h1>
    <div class="row">
        <div class="col-8">
            <form method="get" action="">
                <input type="submit" name="type" class="btn btn-secondary" value="rising" {% if type == 'rising' %}disabled{% endif %}>
                <input type="submit" name="type" class="btn btn-secondary" value="falling" {% if type == 'falling' %}disabled{% endif %}>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>종목</th>
                        <th>현재가</th>
                        <th>등락률</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr>
                        <td>{{ forloop.counter }}. {{ stock.name }}</td>
                        <td>{{ stock.current_price }}원</td>
                        <td>
                            {% if stock.UpDownRate > 0 %} 
                                <span class="text-danger">+{{ stock.UpDownPoint }}원 ({{ stock.UpDownRate }}%)</span>
                            {% else %}
                                <span class="text-primary">{{ stock.UpDownPoint }}원 ({{ stock.UpDownRate }}%)</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">데이터가 없습니다.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class='container mt-3'>
    <h1>지금 뜨는 분야</h1>
    <div class="row">
        <div class="col-4">
            <div class="container">
                <img src="{% static 'images/electric_car_icon.png' %}" class="d-block sector-icon-size">
                <img src="{% static 'images/biology_icon.png' %}" class="d-block sector-icon-size">
                <img src="{% static 'images/semiconductor_icon.png' %}" class="d-block sector-icon-size">
            </div>
        </div>
        <div class="col-8">

        </div>
    </div>
</div>
{% endblock %}

