{% extends "base.html" %}
{% load static %}

{% block title %}ANTS-트리맵{% endblock %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<style>
    body {
        font-family: Arial, sans-serif;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 100vh; /* 화면 전체 높이를 사용 */
        overflow-y: auto;
    }
    .main-container {
        flex-direction: row;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        display: flex;
    }
    .treemap-container {
        flex: 4;
        display: flex;
        justify-content: center; /* 트리맵 가운데 배치 */
        align-items: center;
        height: 100%;
        overflow: hidden; /* 트리맵은 스크롤하지 않음 */
    }
    .controls-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 150px;
        height: 100%; /* 버튼 컨테이너도 스크롤 영역에 포함 */
        overflow-y: hidden; /* 스크롤바 없애기 */
        padding-top: 20px;
        flex:1;
    }
    .controls-container button {
        padding: 5px 5px;
        margin: 5px;
        font-size: 16px;
        background-color: #a0a0a0;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        width: 50%;
    }
    button:disabled {
        background-color: #00d338; /* 비활성화 시 회색 */
        cursor: not-allowed;
    }
    .market-selection {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .market-selection button {
        padding: 10px 10px;
        margin: 10px;
        font-size: 16px;
        background-color: #a0a0a0;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
    .market-selection button:disabled {
        background-color: #00d338; /* 선택된 마켓 버튼 회색으로 변환 */
        cursor: not-allowed;
    }
    footer {
        width: 100%;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px 0; /* footer 높이를 줄임 */
        position: relative; /* 화면 하단에 고정하지 않고 내용 이후에 표시 */
        left: 0;
        bottom: 0;
    }
</style>
{% endblock %}
{% block content %}

<h1>TreeMap</h1>
    <!-- 마켓 선택 버튼을 상단에 배치 -->
    <div class="market-selection">
        <form method="GET">
            <button type="submit" name="market" value="KOSPI200" {% if selected_market == 'KOSPI200' %}disabled{% endif %}>KOSPI</button>
            <button type="submit" name="market" value="KOSDAQ" {% if selected_market == 'KOSDAQ' %}disabled{% endif %}>KOSDAQ</button>
        </form>
    </div>
    <div class="main-container">
        <!-- 트리맵 영역 -->
        <div class="treemap-container">
            {{ graph_html|safe }}
        </div>

        <!-- 컨트롤 패널 영역 (기간 선택) -->
        <div class="controls-container">
            <!-- 기간 선택 버튼 -->
            <form method="GET">
                <input type="hidden" name="market" value="{{ selected_market }}">
                <button type="submit" name="period" value="1 Day" {% if selected_time_period == '1 Day' %}disabled{% endif %}>1일</button>
                <button type="submit" name="period" value="1 Week" {% if selected_time_period == '1 Week' %}disabled{% endif %}>1주</button>
                <button type="submit" name="period" value="1 Month" {% if selected_time_period == '1 Month' %}disabled{% endif %}>1달</button>
                <button type="submit" name="period" value="3 Months" {% if selected_time_period == '3 Months' %}disabled{% endif %}>3달</button>
                <button type="submit" name="period" value="6 Months" {% if selected_time_period == '6 Months' %}disabled{% endif %}>6달</button>
                <button type="submit" name="period" value="1 Year" {% if selected_time_period == '1 Year' %}disabled{% endif %}>1년</button>
            </form>
        </div>
    </div>
{% endblock %}

